.row, .column {
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.beige {
    background-color: beige;
}
.black {
    background-color: black;
}
.yellow {
    background-color: yellow;
}
.brown {
    background-color: brown;
}
.none {
    background-color: transparent;
}
@media (min-width: 576px) {
    .row, .column {
        height: 45px;
    }
}
@media (min-width: 768px) {
    .row, .column {
        height: 60px;
    }
}
@media (min-width: 992px) {
    .row, .column {
        height: 80px;
    }
}
@media (min-width: 1200px) {
    .row, .column {
        height: 95px;
    }
}